mkdocs==1.2.3
mkdocs-material==8.2.5
mkdocs-jupyter==0.20.0
pymdown-extensions==9.2
markdown==3.3.6
mkdocstrings==0.18.1
presidio_analyzer
presidio_anonymizer
presidio_image_redactor
jupyter_contrib_nbextensions==0.5.1
